.movies-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.movies__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
	grid-template-rows: repeat(2, 231px);
	gap: 60px 25px;
	list-style: none;
	max-width: 1140px;
	padding: 0;
	margin: 77px auto 10px;
	justify-content: center;
}

.movies__btn-more {
	display: flex;
	justify-content: center;
	border: none;
	border-radius: 6px;
	width: 320px;
	background-color: #F9F9F9;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
	padding: 11px 0;
	margin: 68px 0 80px;
	cursor: pointer;
}

@media screen and (max-width: 1160px) {
	.movies {
		padding: 0 30px;
	}
	.movies__list {
		grid-template-columns: repeat(2, 339px);
		gap: 47px 30px;
	}
}

@media screen and (max-width: 860px) {
	.movies__list {
		grid-template-columns: repeat(2, 339px);
		gap: 47px 30px;
	}
}

@media screen and (max-width: 728px) {
	.movies__list {
		grid-template-columns: repeat(1, 300px);
		grid-template-rows: repeat(2, 199px);
		gap: 39px;
		margin-top: 50px;
	}
	.movies__btn-more {
		width: 240px;
		padding: 11px 0;
		margin: 50px 0 80px;
	}
}
